#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .edit-user{
    background-color: orange; border: none; padding: 10px 20px; border-radius: 3px; color: white; display: inline-block; margin-left: 10px; text-decoration: none;
  }

  .delete-user{
    background-color: red; border: none; padding: 10px 20px; border-radius: 3px; color: white; display: inline-block; margin-left: 10px; text-decoration: none;
  }
