.manage-doctor-container{
    padding: 0 10px;

    .save-info-doctor{
        border: none;
        outline: none;
        border-radius: 3px;
        padding: 5px 10px;
        background-color: #0071ba;
        color: white;
        // float: right;
        margin: 20px 0;
         
        &:hover{
            opacity: 0.9;
         }
    }
}