.manage-schedule-container{
    .manage-schedule{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 20px 0;
        .btn-time{
            border: 1px solid #ccc;
            outline: none;
            min-width: 145px;

            &.active{
                background-color: #0097e6;
                color: white;
            }
        }

    }

}