.label-upload{
    margin-left: 20px;
    i{
        font-size: 20px;
        color: #45c3d2;
    }

   
}

.preAvatar{
    border: 1px solid green;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 15px;
}